<li>
  <%= link_to avatar_for(idea.user), idea.user %>
  <span class="title"><%= link_to idea.title, idea %></span>
  <span class="description"><%= truncate(strip_tags(idea.description),
                                length: 140) %></span>
</li>
