<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/idea_form' %>
    </section>
  </aside>

  <div class="span8">
    <% if @ideas.any? %>
      <h3>Ideas (<%= @ideas.count %>)</h3>
      <ol class="ideas">
        <%= render @ideas %>
      </ol>
    <% end %>
  </div>
</div>
