<div class="row">
  <div class="sidebar">
    <section>
      <%= render 'shared/side_bar' %>
    </section>
  </div>

  <div class="span8">
    <% if @ideas.any? %>
      <h3>Ideas (<%= @ideas.count %>)</h3>
      <ol class="ideas">
        <%= render @ideas %>
      </ol>
    <% end %>
  </div>
</div>
