<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @ideas.any? %>
      <h3>Ideas (<%= @ideas.count %>)</h3>
      <ol class="ideas">
        <%= render @ideas %>
      </ol>
    <% end %>
  </div>
</div>
