@import "_variables";
@import "bootstrap";
@import "font-awesome";
@import "sessions";
@import "users";
@import "ideas";
@import "summernote";
@import "posts";
@import "notifications";

body {
  font-family: 'Helvetica Neue', Helvetica,Arial, 'Hiragino Sans GB', sans-serif;
  padding-bottom: 1em;
}
textarea {
  resize: none;
}
footer {
  padding: 1em 0;
}

.note-editor .note-editable {
  overflow: auto;
}
