// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  text-decoration: none;
  color: #333;
  font-size: 1.0em;
  font-weight: bold;
  max-height: 3em;
  overflow: hidden;
}

.tag {
  padding: 0.4em 0.4em;
  color: hsla(0, 0%, 60%, 1);
}

.meta {
  color: hsla(0, 0%, 60%, 1);

  a {
    color: hsla(0, 0%, 60%, 1);

    &:hover {
      color: hsla(0, 0%, 50%, 1);
    }
  }

  .actions {
    span {
      padding: 0 0.3em;
    }
  }

  .author {
    vertical-align: middle;
    span {
      padding: 0 0.3em;
    }
  }
}


@import "ideas";

.post {
  @extend .idea;

  .post-content {
    @extend .idea-content;
  }

  .post-comment {
    @extend .idea-comment;
  }
}
